.contact-us {
  margin: 2rem 0;

  display: flex;

  color: var(--secondary);
}

.contact-us > * {
  width: 50%;
}

.contact-us h1 {
  margin-bottom: 1rem;

  font-size: xx-large;
  color: var(--accent);
}

.contact-us article {
  font-size: larger;
}

.contact-us article a {
  margin-top: 1rem;

  display: block;

  color: var(--accent);
  text-decoration: none;

  cursor: pointer;
}

.contact-us article a:hover {
  text-decoration: underline;
}
